@model List<Game>
@{
    ViewBag.Title = "My Games";
}
<h2></h2>

<a asp-controller="Game" asp-action="Add">Add New Game</a>
<table class="table table-dark table-primary">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td>@game.Year</td>
                <td>@game.Rating</td>
                <td>
                    <a asp-controller="Game" asp-action="Edit"
                        asp-route-id="@game.GameId">Edit</a>
                    <a asp-controller="Game" asp-action="Delete"
                        asp-route-id="@game.GameId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>